*{
    box-sizing:border-box;
  }
  #container {  
    width:500px;
    margin:20px auto;
    padding:20px;
    background-color: yellowgreen;
  }
  input[type="text"] {
    width:370px;
    float:left;
    height:30px;
    padding-left:30px;
  }
  button {
    width:90px;
    height:30px;
    float:right;
    background:#222;
    color:#fff;
    border:none;
  }
  ul { list-style:none;background-color: #eee;}
  li { line-height: 3; }
  li:hover { cursor:pointer;}